*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #FFD700;
}
img {
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,body {
    height: 100%;
    font-size: 16px;
    color: #fff;
    line-height: 1;
    font-family: Cambria, Verdana, Georgia, Times, 'Times New Roman', serif, "Aurebesh", "Baron Neue Black";
}
body._lock {
    overflow: hidden;
}
.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 110px 1fr 80px;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
.header {
    position: fixed;
    grid-area: header;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    background-color: #000;
    background-image: url(img/header__desktop.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 2px 15px #657071;
    z-index: 50;
}
.header__menu__l {
    display: flex;
    position: fixed;
    width: 740px;
    height: 60px;
    top: 88px;
    right: 0;
}
.header__menu__m {
    display: flex;
    position: fixed;
    width: 620px;
    height: 50px;
    top: 88px;
    right: 0;
}
.menu__burger {
    display: none;
}
.navbar__sublist {
    position: relative;
    display: none;
    flex: 1 1 100%;
    background: linear-gradient(45deg, #313140 0%, #9C9CA6 49%, #ccc 100%);
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
    transition: max-height 1s ease;
}
.navbar__sublist li {
    padding: 2px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}




.page {
    grid-area: main;
}
.page__screen {
    position: relative;
    background-color: #010230;
    padding: 55px 60px;
}
.page__scanlines {
    position: absolute;
    background-image: url(img/scanlines.png);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 35%;
}
#bezel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    pointer-events: none;
}
.page__starter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 10px 20px;
}
.page__section {
    padding: 20px;
    max-width: 1200px;
    margin: 0px auto;
}
.page__text {
    font-size: 16px;
    line-height: 130%;
    text-align: justify;
}






.footer {
    display: flex;
    grid-area: footer;
    height: 130px;
    background-color: #000;
    align-items: flex-end;
    flex-direction: row;
    z-index: 1;
}
.footer__lt {
    position: relative;
    height: 130px;
    width: 179px;
    background-image: url(img/footer__left.webp);
    background-repeat: no-repeat;
}
.footer__md {
    height: 130px;
    width: 87%;
    flex-shrink: 2;
    background-image: url(img/footer__middle.webp);
    background-repeat: no-repeat;
}
.footer__rt {
    height: 130px;
    width: 21px;
    background-image: url(img/footer__right.webp);
    background-repeat: no-repeat;
}
.footer__visuals {
    display: flex;
    height: 130px;
    flex-direction: row;
    justify-content: flex-end;
}
.footer__btns {
    padding: 2px;
    align-self: center;
}
.footer__btn {
    padding: 2px;
    align-self: center;
}
.footer__dataport {
    height: 120px;
    align-self: center;
}
.footer__dataport__s {
    height: 120px;
    align-self: center;
}
.footer__dataport__ss {
    height: 120px;
    align-self: center;
}
.footer__logo {
    padding: 2px;
    align-self: center;
}
.footer__logo__s {
    padding: 2px;
    align-self: center;
}
.disclaimer {
    position: absolute;
    width: 470px;
    height: 72px;
    top: 35px;
    left: 150px;
    text-align: justify;
    padding: 20px 15px 20px 30px;
    color: #ceeff7;
    font-size: 11px;
    text-shadow: 1px 1px 4px #8C8783;
    background-image: url(img/disclaimer.webp);
}
.disclaimer__tab {
    position: absolute;
    width: 350px;
    height: 72px;
    top: 35px;
    left: 120px;
    text-align: justify;
    padding: 13px 15px 20px 30px;
    color: #ceeff7;
    font-size: 11px;
    text-shadow: 1px 1px 4px #8C8783;
    background-image: url(img/disclaimer__tab.webp);
}
.disclaimer__mob {
    position: absolute;
    width: 300px;
    height: 72px;
    top: 35px;
    left: 110px;
    text-align: justify;
    padding: 13px 15px 20px 30px;
    color: #ceeff7;
    font-size: 11px;
    text-shadow: 1px 1px 4px #8C8783;
    background-image: url(img/disclaimer__mob.webp);
}
.disclaimer__mob__s {
    position: absolute;
    width: 200px;
    height: 72px;
    top: 35px;
    left: 100px;
    text-align: justify;
    padding: 13px 15px 20px 30px;
    color: #ceeff7;
    font-size: 11px;
    text-shadow: 1px 1px 4px #8C8783;
    background-image: url(img/disclaimer__mob__s.webp);
}
.navbar__arrow {
    display: none;
}
/* ------------------------ */
body._pc .navbar__list > li:hover .navbar__sublist {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}
body._touch .navbar__list > li {
    display: flex;
    align-items: center;
}
body._touch .navbar__link {
    flex: 1 1 auto;
}
body._touch .navbar__arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 10px;
    transition: transform 0.3s ease 0s;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #fff;
}
body._touch .navbar__list > li._active .navbar__sublist {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}
body._touch .navbar__list > li._active .navbar__arrow {
    transform: rotate(-180deg);
}
/* ------------------------ */

@media (min-width:1995px) {
    .footer {
        height: 130px;
        background-color: #000;
        background-image: url(img/footer__desktop_l.webp);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .footer__lt {
        display: none;
    }
    .footer__md {
        display: none;
    }
    .footer__rt {
        display: none;
    }
    .page {
        background-color: #000;
    }
}
@media (max-width:1393px) {
    .footer__logo {
        display: none;
    }
}
@media (min-width:1393px) {
    .footer__logo__s {
        display: none;
    }
}
@media (max-width:1185px) {
    .header {
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media (max-width:1052px) {
    .footer__logo__s {
        display: none;
    }
}
@media (max-width:972px) {
    .header__menu__l {
        display: none;
    }
}
@media (min-width:972px) {
    .header__menu__m {
        display: none;
    }
}
@media (max-width:908px) {
    .footer__dataport {
        display: none;
    }
}
@media (min-width:908px) {
    .footer__dataport__s {
        display: none;
    }
}
@media (max-width:847px) {
    .footer__btns {
        display: none;
    }
}
@media (min-width:847px) {
    .footer__btn {
        display: none;
    }
}
@media (max-width:811px) {
    .disclaimer {
        display: none;
    }
}
@media (min-width:811px) {
    .disclaimer__tab {
        display: none;
    }
}
@media (max-width:667px) {
    .footer__dataport__s {
        display: none;
    }
}
@media (min-width:667px) {
    .footer__dataport__ss {
        display: none;
    }
}
@media (max-width:644px) {
    .footer__dataport__ss {
        display: none;
    }
    .footer__btn {
        display: none;
    }
    .footer__btns {
        display: flex;
    }
}
@media (max-width:624px) {
    .header__menu__m {
        display: none;
    }
    .menu__burger {
        display: block;
        position: relative;
        top: 10%;
        left: 80%;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
    }
    .menu__burger span,
    .menu__burger::before,
    .menu__burger::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .menu__burger::before,
    .menu__burger::after {
        content: "";
    }
    .menu__burger::before {
        top: 0;
    }
    .menu__burger::after {
        bottom: 0;
    }
    .menu__burger span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .navbar {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        padding: 120px 30px 30px 30px;
        background-color: rgba(0, 0, 0, 0.9);
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .navbar._active {
        left: 0;
    }
    .navbar__list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }
    .navbar__list > li {
        flex-wrap: wrap;
        margin: 0px 0px 20px 0px;
    }
    .navbar__list > li:last-child {
        margin-bottom: 0;
    }
    .navbar__list > li._active .navbar__sublist {
        display: block;
    }
    .navbar__link {
        padding-left: 30px;
        font-size: 27px;
        font-weight: 600;
        color: #fff;
        text-shadow: .6px .6px 1px #ccc;
    }
    .navbar__sublist {
        visibility: hidden;
        opacity: 0;
        position: relative;
        list-style-type: none;
        flex: 1 1 100%;
        margin: 10px 0px 0px 0px;
        transform: translate(0px, 10%);
        transition: all 0.3s ease 0s;
        pointer-events: none;
    }
    .navbar__sublist > li {
        padding: 10px 0px;
    }
    .navbar__sublink {
        padding-left: 30px;
        font-size: 20px;
        color: #fff;
        text-shadow: .6px .6px 1px #ccc;
    }
}
@media (min-width:624px) {
    .navbar {
        display: none;
    }
}
@media (max-width:580px) {
    .footer__btns {
        display: none;
    }
    .footer__lt {
        position: relative;
        height: 130px;
        width: 175px;
        background-image: url(img/footer__left__mob.webp);
        background-repeat: no-repeat;
    }
    .footer__md {
        height: 130px;
        width: 1fr;
        background-image: url(img/footer__middle__mob.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .footer__rt {
        height: 130px;
        width: 25px;
        background-image: url(img/footer__right__mob.webp);
        background-repeat: no-repeat;
    }
    .disclaimer__tab {
        display: none;
    }
}
@media (min-width:580px) {
    .disclaimer__mob {
        display: none;
    }
}
@media (max-width:450px) {
    .disclaimer__mob {
        display: none;
    }
}
@media (min-width:450px) {
    .disclaimer__mob__s {
        display: none;
    }
}
